<%= form_for(@aliment) do |f| %>
  <% if @aliment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aliment.errors.count, "error") %> prohibited this aliment from being saved:</h2>

      <ul>
      <% @aliment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
